body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  background: floralwhite;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header,
.footer {
  min-height: 60px;
  border: 1px solid black;
}

.main-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 320px;
  align-items: stretch;
  padding: 32px;
}

.login-form .field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form .signup-button {
  outline: none;
  background: none;
  padding: 16px;
  border: none;
  box-shadow: none;
  background-color: aliceblue;
}

.login-form input {
  padding: 8px;
}

.toast {
  animation: slideIn 0.25s ease-in;
  background-color: #2e6f40;
  padding: 1rem;
  font-weight: 300;
  color: white;
  border-radius: 10px;
}

.toast--exit {
  animation: slideOut 0.25s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
